/* DEFINITIONS */
$primary: #337AB7;
$darkGreen: #1E6823;

/* GLOBAL PROJECT PAGE STYLES */
html, body {
  height: 100%;
  width: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: $primary;
}

section, footer, main {
  background-color: white;
  box-shadow: 10px 10px 3px 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 2em;
  &::before,
  &::after {
    content: " ";
    display: block;
    height: 3px;
    min-width: 100px;
    max-width: 75%;
    margin: 5px auto;
    background-color: $darkGreen;
  }
  &::before {
    margin-bottom: 2.5em;
  }
  &::after {
    margin-top: 2.5em;
  }
}

.container {
  width: 100%;
  min-height: 50%;
  padding-bottom: 2em;
}

.tag-list {
  margin-top: 1.5em;
}

.project-content {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.description {
  font-size: 2rem;
}

ul.list-inline {
  display: inline;
  li {
    padding: 0;
  }
}

.tagged-in {
  margin-right: 0.5em;
}

.italic {
  font-style: italic;
}
