{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Evan Palmer">

    <title>Evan Palmer | Web Developer</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'homepage/sb-portfolio-1.0.4/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'homepage/sb-portfolio-1.0.4/css/stylish-portfolio.css' %}" rel="stylesheet">

    <!-- Calendar CSS -->
    <link href="{% static 'homepage/github-calendar.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'homepage/sb-portfolio-1.0.4/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Start Bootstrap</a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#skills" onclick = $("#menu-close").click(); >Skills</a>
            </li>
            <li>
                <a href="#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 class="main-title">Evan Palmer</h1>
            <p class="subtitle">Web Developer</p>
            <h2>I need to put some stuff here!</h2>
            <p class="lead">This is a class='lead' paragraph</p>
        </div>
    </header>

    <!-- Skills -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="skills" class="skills bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Skills</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="skill-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-code fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Code 'n' stuff</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="skill-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Test-Driven Development</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="skill-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-bar-chart fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Data-Driven Applications</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="skill-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-code-fork fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Version Control</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <p>Not sure if I want to keep this or not.</p>
        </div>
    </aside>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>My Work</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item thumbnail">
                                <a href="http://raiseeffect.org" target="_blank">
                                    <img class="img-portfolio img-responsive" src="{% static 'homepage/images/re-lg-thumbnail.png' %}">
                                </a>
                                <div>
                                  <h3 class="portfolio-item-heading">Raise Effect API</h3>
                                  <p class="portfolio-item-text center-block">
                                    The Python REST API that powers <a target="_blank" href="http://raiseeffect.org/">raiseeffect.org</a>,
                                    a <a href="http://www.hackoregon.org/">Hack Oregon</a> open-source project.
                                  </p>
                                  <div class="btn-group" role="group" aria-label="thumbnail-button-group">
                                    <a href="https://github.com/Jobs-Economy/backend" class="btn btn-default">View Source</a>
                                    <a href="" class="btn btn-default">Details</a>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item thumbnail">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="{% static 'homepage/images/im_exercise.jpg' %}">
                                </a>
                                <div>
                                  <h3 class="portfolio-item-heading">Intramusical</h3>
                                  <p class="portfolio-item-text center-block">A Python/Django application that generates interval identification exercises for musicians using the Web Audio API.</p>
                                  <div class="btn-group" role="group" aria-label="thumbnail-button-group">
                                    <button class="btn btn-default" type="button" name="button">View Source Code</button>
                                    <button class="btn btn-default" type="button" name="button">Details</button>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item thumbnail">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="{% static 'homepage/images/dragonfruit-cropped.jpg' %}">
                                </a>
                                <div>
                                  <h3 class="portfolio-item-heading">Can I Eat This?</h3>
                                  <p class="portfolio-item-text center-block">
                                    A Django + Django REST Framework + React application for tracking foods allowed under user-defined dietary restrictions.
                                  </p>
                                  <div class="btn-group" role="group" aria-label="thumbnail-button-group">
                                    <button class="btn btn-default" type="button" name="button">View Source Code</button>
                                    <button class="btn btn-default" type="button" name="button">Details</button>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item thumbnail">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="{% static 'homepage/sb-portfolio-1.0.4/img/portfolio-4.jpg' %}">
                                </a>
                                <div>
                                  <h3 class="portfolio-item-heading">Javapic</h3>
                                  <p class="portfolio-item-text center-block">
                                    An interactive photo gallery with custom cross-browser form validation. All HTML and CSS modifications are done with Javascript.
                                  </p>
                                  <div class="btn-group" role="group" aria-label="thumbnail-button-group">
                                    <button class="btn btn-default" type="button" name="button">View Source Code</button>
                                    <button class="btn btn-default" type="button" name="button">Details</button>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">View More Items</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                <div class="text-center">
                  <h2>My GitHub Contributions</h2>
                  <p class="lead">I write code every day, both for myself and for open-source projects.</p>
                </div>

                <!-- Prepare a container for your calendar. -->
                <div class="calendar hidden-xs hidden-sm">
                    <!-- Loading stuff -->
                    Loading the data just for you.
                </div>
                <div class="text-center small-device-info visible-xs visible-sm">
                  <p>Your screen is too small to view the GitHub Calendar. Please visit <a class="github-link" href="https://github.com/palmerev" target="_blank">my GitHub profile</a> to see my contributions.</p>
                </div>
            </div>
        </div>
    </aside>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Evan Palmer</strong></h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:evan@evanpalmer.net">evan@evanpalmer.net</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Evan Palmer 2016</p>
                    <p>
                      <a href="#">About this site</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'homepage/sb-portfolio-1.0.4/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'homepage/sb-portfolio-1.0.4/js/bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
    <script
    src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js">
    </script>
    <script>
        GitHubCalendar(".calendar", "palmerev");
    </script>
</body>

</html>
