{% extends "projects/base-projects.html" %}
{% load staticfiles %}
{% block title %}
{{ block.super }} ~ {{ project.slug }}
{% endblock title %}
{% block content %}
<h1>{{ project.name }}</h1>
<p>
  {{ project.short_description }}
</p>
<div class="tag-list">
<span class="tagged-in">Tagged in:</span><!--
--><ul class="list-inline">
    {% for tag in project.tags.all %}
    {% if forloop.last %} {# delimit items with a comma, except for the last #}
    <li><a href="{% url 'projects_for_tag' tag.slug %}">{{ tag.name }}</a></li>
    {% else %}
    <li><a href="{% url 'projects_for_tag' tag.slug %}">{{ tag.name }}</a></li><!--
    --><span>,</span>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<hr />
<p>
  {{ project.long_description }}
</p>
<div class="project-urls">
<p><span>GitHub Repository:</span>{{ project.repo_url }}</p>
<p><span>Site URL:</span>{{ project.site_url|default:"none" }}</p>
<a class="btn btn-info text-center" href="{% url 'project_list' %}">Back to Projects</a>
</div>
{% endblock content %}
