{% extends "projects/base-projects.html" %}
{% load staticfiles %}
{% block title %}
{{ block.super }}
{% endblock title %}
{% block custom_stylesheets %}
<link rel="stylesheet" href="{% static 'projects/styles/projects.css' %}" media="screen" charset="utf-8">
{% endblock custom_stylesheets %}
{% block main %}
<ul>
  {% for p in projects %}
    <li>
      <a href="{% url 'project_detail' p.slug %}" class="project-link"><!--
      --><span class="project-name">{{ p.name }}</span><!--
      --><span class="delimiter">--</span><!--
      --><span class="project-description">{{ p.short_description }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
<div class="text-center">
  <a class="btn btn-primary text-center" href={% url 'homepage_index' %}>Back Home</a>
</div>
{% endblock main %}
