/* DEFINITIONS */
$primary: #337AB7;
$darkGreen: #1E6823;

/* GLOBAL STYLES */
html, body {
  height: 100%;
  width: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: $primary;
}

section, footer {
  background-color: white;
  box-shadow: 10px 10px 3px 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin: 2em;
  &::before,
  &::after {
    content: " ";
    display: block;
    height: 3px;
    min-width: 100px;
    max-width: 75%;
    margin: 5px auto;
    background-color: $darkGreen;
  }
  &::after {
    margin-top: 2.5em;
  }
}

i.text-primary {
  color: white;
}

/* BIO */
.bio {
  padding: 50px 0;
}

.bio img {
  border: 5px solid $darkGreen;
  max-width: 280px;
}

.bio-text {
  &:before,
  &:after {
    content: " ";
    display: block;
    height: 2px;
    max-width: 270px;
    margin: 0 auto;
    background-color: $darkGreen;
  }
  &:before {
    margin-top: 2em;
    margin-bottom: 1.5em;
  }
  &:after {
    margin-top: 1.5em;
  }
}
