{% extends "projects/base-projects.html" %}
{% load staticfiles %}
{% block title %}
{{ block.super }} ~ Projects tagged with {{ tag.name }}
{% endblock title %}
{% block main %}
<h3>Projects associated with {{ tag.name }} ({{ tag.projects.count }})</h3>
{% if tag.projects.count %}
<ul class="project-list">
  {% for p in tag.projects.all %}
  <li>
    <a href="{% url 'project_detail' p.slug %}" class="project-link"><!--
    --><span class="project-name">{{ p.name }}</span><!--
    --><span class="delimiter">--</span><!--
    --><span class="project-description">{{ p.short_description }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>There are no projects associated with this tag.</p>
{% endif %}
{% endblock main %}
