{% extends "projects/base-projects.html" %}
{% load staticfiles %}
{% block title %}
{{ block.super }} ~ Tag List
{% endblock title %}
{% block main %}
<h3>Tags ({{ tags|length }})</h3>
<ul class="tag-list">
  {% for tag in tags %}
  <li class="tag">
    <a href="{% url 'projects_for_tag' tag.slug %}">{{ tag.name }}</a> associated with
    {{ tag.projects.count }} project{{ tag.projects.count|pluralize }}
  </li>
  {% empty %}
  <li class="italic">There are no tags available.</li>
  {% endfor %}
</ul>
{% endblock main %}
